body{
    background-color: #ffffff;
    color: #5f5f5f;
}
header{
    background-color: white;
    box-shadow: 0px 1px 15px rgb(219, 219, 219);
    padding-top: 5px;
}
#landing{
    background-image: linear-gradient(0deg, #e6ffff, #ffffff, #fffdf0);
    box-shadow: 0px 2px 10px -5px rgb(185, 185, 185);
    border-bottom: 1px solid black;
}
#salut{
    margin-left: 56%;
    transform: translateY(50px);
    animation-name: onload;
    animation-duration: 1.5s;
    z-index: -1;
}
.text-display{
    font-size: xx-large;
}
#contact{
    text-align: right;
}
#menu{
    background-color: #e8fafd;
}
a{
    text-decoration: none;
}
#dropdown-menu{
    display: none;
}
#dropdown-items{
    display: none;
    position: fixed;
    width: 100%;
    text-align: left;
    background-color: white;
    box-shadow: 0px 1px 15px #d1d1d1;
    border-radius: 2px;
    animation-name: dropdown;
    animation-duration: 1s;
    z-index: 2;
    top: 66px;
    opacity: 0.96;
}
#dropdown-items a.btn{
    text-align: left;
    font-size: 14px;
    color: #5f5f5f;
    border-bottom: 1px solid rgb(206, 206, 206);
}
#dropdown-items a.btn:hover{
    background-color: #e8fafd;
    border-left: 2px solid white;
}
#dropdown-menu{
    text-align: right;
}
#full-menu{
    margin-left: -20px;
}
#full-menu a.btn{
    color:#5f5f5f;
}
#full-menu a.btn:hover{
    text-decoration: underline 2px #a095ff;
}
#contact a{
    padding: 10px;
    background-color: #d8f7fd;
    border-radius: 5px;
    font-size: 11px;
    color: rgb(17, 0, 255);
}
#contact a:hover{
    background-color: #e8fafd;
}
#profile-pic{
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px -2px rgb(218, 218, 218);
    border: 1px solid black;
}
#landing-text {
    position: relative;
}
#name{
    text-align: center;
    width: 200px;
    border-radius: 5px;
    box-shadow: 7px 7px 10px rgb(221, 221, 221) inset;
    box-sizing: content-box;
}
#links-container {
    position: absolute;
    bottom: 2%;
    right: 85px;
}
#links img {
    width: 50px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(189, 189, 189), -5px -5px 5px rgb(255, 255, 255);
    animation-name: onload-all;
    animation-duration: 2s;
}
#links img:hover {
    box-shadow: 5px 5px 5px rgb(255, 255, 255), -5px -5px 5px rgb(228, 228, 228);
}
.switch{
    position: absolute;
    border-radius: 50px;
    width: 50px;
    height: 25px;
    background: rgb(255, 255, 255);
    box-shadow: 7px 7px 10px rgb(221, 221, 221) inset, 0px 7px 0px rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 230, 230);
    transform: translateY(20px);
}
.mode{
    margin-top: auto;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    box-shadow: 0px 7px 10px rgb(170, 214, 255) inset;
    border: 1px solid rgb(230, 230, 230);
}
.switch:hover{
    cursor: pointer;
}
main{
    margin-top: 100px;
}
article section{
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
#about-text{
    border-radius: 5px;
    margin: auto;
    width: 80%;
    background-color: #d8f7fd;
    padding: 10px;
}
.tool-icon{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(233, 233, 233);
    width: 40%;
    margin: 10px;
    display: inline-block;
}
.tool-icon img{
    width: 50px;
}
.hide-element{
    opacity: 0px;
}
.on-scroll{
    opacity: 0;
}
.show-element{
    opacity: 1;
    animation: onload-all 2s;
}
#mobile-switch{
    display: none;
}
#spec-logos{
    position: absolute;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    left: 0px;
    top: 40px;
    border: 1px solid black;
}
#spec-logos img{
    width: 45%;
}
#web-logo{
    margin-top: 5%;
    height: 50%;
}
@keyframes onload {
    0%{transform: translateY(-50px);}
    100%{transform: translateY(50px);}
}
@keyframes dropdown {
    0%{top: -300px;}
    100%{top: 66px;}
}
@keyframes onload-all {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
    opacity: 1;}
}
@media screen and (max-width: 876px) {
    #links a{
        width: 50px;
        margin-left: 5px;
    }
    #salut{
        font-size: larger;
    }
}
@media screen and (max-width: 765px) {
    #name{
        width: 120%;
        box-shadow: 7px 7px 10px rgb(236, 236, 236) inset;
        border-radius: 8px;
    }
    #salut{
        position: absolute;
        right: 5px;
        transform: translateY(20px);
    }
    header{
        padding-top: 10px;
    }
    .text-display{
        font-size: x-large;
    }
    #landing{
        position: relative;
        height: 75vh;
        margin-top: 55px;
        background-image: none;
        background-color: white;
        box-shadow: none;
        border-bottom: none;
    }
    #full-menu{
        display: none;
    }
    #name-container{
        padding-top: 3px;
    }
    #profile{
        background-image: url("/media/triangles-weds-16th-jan-2013-3.png");
        position: relative;
        height: fit-content;
    }
    .full-name{
        position: absolute;
        text-align: left;
        padding: 5px;
        width: 102%;
        text-decoration: none;
        background-color: #fffef6;
        padding-left: 50px;
        margin-left: -20px;
        color: rgb(34, 34, 34);
        border-top: 1px solid white;
        z-index: 1;
    }
    #dropdown-menu{
        display: block;
    }
    #contact a{
        background-color: #d8f7fd;
        border-radius: 5px;
        color: rgb(17, 0, 255);
    }
    #tech-tools{
        margin-top: 50px;
    }
    main{
        margin-top: 50px;
    }
    #profile-pic{
        border-right: 3px solid #fffef6;
        box-shadow: none;
        margin-left: -100px;
        width: 80%;
        margin-top: 0px;
        border-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    #links{
        width: 58%;
        display: flex;
        justify-content: space-between;
        bottom: 0px;
        overflow: hidden;
        margin-left: 42%;
        overflow: visible;
        background-color: rgba(0, 0, 0, 0.555);
        border-top-left-radius: 5px;
        padding-top: 10px;
        border: 1px solid white;
    }
    #links-container {
        background-image: url("/media/triangles-weds-16th-jan-2013-3.png");
        color: rgb(0, 0, 0);
        position: absolute;
        bottom: -0px;
        right: 0px;
        width: 100%; 
        box-shadow: 0px 5px 10px rgb(223, 223, 223);
    }
    #links-container p{
        color: white;
        font-weight: bolder;
        text-align: right;
        padding-right: 45px;
    }
    #links img {
        background-color: white;
        width: 30px;
        margin: 0px;
        box-shadow: none;
    }
    #mobile-switch{
        position: relative;
        display: block;
        align-self: flex-end;
        position: absolute;
        margin-top: -43px;
        right: -50px;
    }
    #pc-switch{
        display: none;
    }
    #switch-carrier{
        position: relative;
        width: 80%;
        height: 40px;
        text-align: right;
    }
    #about p{
        width: 100%;
    }
    @keyframes onload {
        0%{transform: translateY(-50px);}
        100%{transform: translateY(20px);}
    }
    #spec-logos{
        position: relative;
        width: 100%;
        display: block;
        background-color:#daf5ff;
        border: none;
        box-shadow: 0px 5px 10px rgb(194, 194, 194);
    }
    #spec-logos img{
        display: inline-block;
        width: 62%;
    }
    #web-logo{
        height: auto;
        position: absolute;
        bottom: 15px;
        right: -15px;
        box-shadow: 0px 5px 10px rgb(223, 223, 223);
        border-radius: 5px;
    }
    #landing-text {
        height: 55%;
        background-color: #fffef6;
    }
    body{
        background-color: #fffef6;
    }
    main{
        background-color: white;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgb(97, 97, 97);
        margin-top: 120px;
        padding-top: 20px;
        overflow: hidden;
    }
}
@media screen and (max-width: 377px) {
    #contact a{
        padding: 8px;
        font-size: 10px;
    }
    #salut{
        font-size: large;
    }
    .full-name{
        text-align: left;
        padding-left: 25px;
    }
    #links{
        width: 59%;
        margin-left: 41%;
    }
    #links-container p{
        padding-right: 18px;
    }
    #landing{
        height: 80vh;
    }
}